
    .container{
        display: flex;
        flex-direction: column;
        
    }
    .nav{
        display: flex;
        background-color:#ffffff;
    }
    .content{
        display: flex;
        flex-direction: row;
        margin-top:10px;
        
    }
    .c_left{
        display: flex;
        align-items: left;
        width: 20%;
        
    }
    .c_middle{
        display: flex;
        justify-content: center;
        
        width: 60%;
        height: 600px;
        background-color:#ffffff;
    }
    .c_right{
        display: flex;
        align-items: right;
        width: 20%;
        
    }
    .n_left{
        display: flex;
        width: 20%;
        justify-content: flex-end;
        align-items: center;
    }
    .n_center{
        
        display: flex;
        justify-content: center;
        width: 60%;
    }
    .n_rigth{
        display: flex;
        width: 20%; 
    }
    #name{
      width: 98%;
  padding: 8px;
  background: #f1f1f1;
    }
    .form_control_success input{
        border:2px solid green;
        
    }
    .form_control_error input{
        border:2px solid red;
    }
    .form_control_error small{
        color: red;
    }
    .form_control_error_date select{
        border:2px solid red;
    }
    .form_control_error_date small{
        color: red;
    }
    .form_control_success_date select{
        border:2px solid green;
        
    }
    .loader_bg{
        position: fixed;
        z-index: 999999;
        background: #fff;
        width: 100%;
        height: 100%;
    }
    .loader{
        border: 0 soild transparent;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        position: absolute;
        top: calc(50vh - 75px);
        left: calc(50vw - 75px);
    }
    .loader:before, .loader:after{
        content: '';
        border: 1em solid #ff5733;
        border-radius: 50%;
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0;
        left: 0;
        animation: loader 2s linear infinite;
        opacity: 0;
    }
    .loader:before{
        animation-delay: .5s;
    }
    @keyframes loader{
        0%{
            transform: scale(0);
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            transform: scale(1);
            opacity: 0;
        }
    }
    
    
    
    
    *{
        margin: 0;
        padding: 0;
    }
    body{
        text-align: center;
    }
    .wrapper{
        width: 1170px;
        margin: 0 auto;
    }
    header{
        height: 100px;
        background: #262626;
        width: 100%;
        z-index: 10;
        position: fixed;
    }
    .logo {
        width: 30%;
        float: left;
        line-height: 100px;
    }
    .logo a {
        text-decoration: none;
        font-size: 30px;
        font-family: bignoodletitling;
        color: #fff;
        letter-spacing: 5px;
    }
    nav {
        float: right;
        line-height: 100px;
    }
    nav a {
        text-decoration: none;
        font-family: bignoodletitling;
        letter-spacing: 4px;
        font-size: 20px;
        margin: 0 10px;
        color: #fff;
    }
    .banner-area{
        width: 100%;
        height: 500px;
        position: fixed;
        top: 100px;
        background-image: url(2.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    .banner-area h2 {
        padding-top: 8%;
        font-size: 70px;
        font-family: poppins;
        text-transform: uppercase;
        color: #fff;
    }
    .content-area{
        width: 100%;
        position: relative;
        top: 450px;
        background: #ebebeb;
        height: 1500px;
    }
    .content-area h2 {
        font-family: bignoodletitling;
        letter-spacing: 4px;
        padding-top: 30px;
        font-size: 40px;
        margin: 0;
    }
    
    .content-area p {
        padding: 2% 0px;
        font-family: merienda;
        line-height: 30px;
    }
    /* .lc_left{
        display: flex;
        align-items: left;
        width: 35%;
        
    }
    .lc_middle{
        margin-top: 100px;
        height: 300px;
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
        background-color:#ffffff;
    }
    .lc_right{
        display: flex;
        flex-wrap: wrap;
        width: 35%;
        
    } */
    .lc_left{
        display: flex;
        align-items: left;
        width: 35%;
        
    }
    .lc_middle{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        width: 30%;
        height: 300px;
        background-color:#ffffff;
    }
    .lc_right{
        display: flex;
        align-items: right;
        width: 35%;
        
    }